body {
  word-break: break-all;
}

.logs pre, .history pre {
  font-size: 1.1rem;
  font-family: monospace, monospace;
  font-size: 1em;
  padding: .9rem;
  background: #212121; /* grey darken-4 */
  color: #00c853; /* green accent-4 */

  height: 250px;
  overflow-y: scroll;
}

.collection-header {
  background: #eceff1; /* blue-grey lighten-5 */
}

.mute {
  color: #757575; /* grey darken-1 */
}

h1 {
  margin-bottom: 15px;
}